/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.listings-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    /* border: 1px solid red; */
    /* flex-wrap: nowrap; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
  }

  @media (max-width: 1127px) {
    .listings-container {
    grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 949px) {
    .listings-container {
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 80%; */
    }
  }
  @media (max-width: 549px) {
    .listings-container {
    grid-template-columns: repeat(1, 1fr);
    }
  }
  /* @media (min-width: 768px) {
    .listings-container {
      flex-wrap: wrap;
      overflow-x: auto;
    }
  } */