   /* .filter-item {
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  
  .filter-container .filter-item {
    transform: translateX(0);
  }
  
  .filter-container.show-all .arrow-icon:first-child {
    display: none;
  }
  
  .filter-container.show-all .arrow-icon:last-child {
    display: flex;
    justify-content: flex-end;
  }
  
  .filter-container.show-all .filter-item {
    transform: translateX(-50%);
  }
   */
   
   .filter-item {
    transition: transform 0.5s ease-in-out;
  }
  
  .arrow-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  
  .filter-container.show-all .arrow-icon:first-child {
    display: none;
  }
  
  .filter-container.show-all .arrow-icon:last-child {
    display: flex;
    justify-content: flex-end;
  }
  
  .filter-container.show-all .filter-item {
    transform: translateX(-100%);
  }
  
  .filter-container.show-all .filter-item:first-child {
    transition-delay: 0.2s;
  }
  
  .filter-container.show-all .filter-item:nth-child(2) {
    transition-delay: 0.3s;
  }
  
  /* Add transition delays for additional filters as needed */
  